.admin-layout {
  display: flex;
  height: 100%;
  min-height: 800px;
  font-family: Arial, sans-serif;
  color: black;
}

.admin-layout .sidebar {
  
  color: rgb(0, 0, 0);
}

.logo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 12px 20px;
  color : rgb(0, 0, 0);
}

.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
}

.menu li:hover {
  background-color: #18e4ff;
}

/* Main content layout */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
}

.admin-layout .header {
  height: 60px;
  background-color: #949799;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

.admin-layout .content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 0;            
  margin: 0;             
  box-sizing: border-box;
  
}
.admin-layout .sidebar {
  background-color: #2c2c2c;
  color: srgb(0, 0, 0);
  width: 220px;
 
  border: #cf621a 1px solid;
}
.admin-layout .menu li:hover {
  background-color: #379E9E;
}
.user-table-container {
  width: 100%;
  max-width: 100%;
  background: white;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.order-container {
  max-width: 1800px;
  margin: 0 auto;
  min-width: 1000px;
}