.dashboard-container {
  padding: 30px;
 
  background-color: #f8f9fa;
  min-height: 100%;
}

.dashboard-container h1 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #222;
}

.stats-boxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  flex: 1;
  min-width: 200px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stat-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

.stat-box p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.dashboard-filter {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-select{
  font-size: 17px;
  padding: 7px 14px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  background: #fff;
  outline: none;
  margin-bottom: 4px;
}

.dashboard-input {
  width: 50%;
  font-size: 17px;
  padding: 7px 14px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
  background: #fff;
  outline: none;
  margin-bottom: 4px;
}
