/* Footer.css */

.footer-container {
    background-color: #000;
    color: white;
    padding: 50px 20px;
    align-items: center;
    width: 100%;
    margin-top: auto;
    z-index: 1;
  }
  
  .footer-container img {
    max-width: 75%;
    height: auto;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .footer-links div {
    width: 30%;
  }
  
  .footer-links h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;

    color: #379E9E;

  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    color: #949393;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
    .footer-links div {
      width: 100%;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
    .footer-links div {
      width: 100%;
      text-align: center;
    }

  }
  button{
    background-color: white;
    color: black;
    size: 18px;

  }