* {
    margin: 0;
    padding: 0;
    font-family: "quattrocento", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

  /* li, a, p { */
    /*font-family: "Cabin", Arial, Helvetica, sans-serif;*/
    /*font-size: 14px;*/
    /*color: black;*/
  /*}*/