.banner{
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px 0;
    height: 200px;
}

.title{
    text-align: center;
    color: white;
    font-weight: bold;
}

.direction{
    text-align: center;
    color: white;
    /*font-weight: bold;*/
}

.direction a{
    color: white;
    text-decoration: none;
}