/* Swimwear.css */

.clothing-page {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center; /* Căn giữa toàn bộ nội dung theo chiều ngang */
}

.content-container {
    display: flex;
    gap: 0px;
    background-color: white;
}
.product-container {
    flex: 1;
    background: white;
  
  
}


.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}