/* src/components/UserTable.css */
.user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
  }
  
  .user-table th {
    background-color: #000000;
    font-weight: bold;
  }
  
  .btn-edit,
  .btn-delete {
    margin-right: 8px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-edit {
    background-color: #1890ff;
    color: #fff;
  }
  
  .btn-delete {
    background-color: #ff4d4f;
    color: #fff;
  }
  .user-table td{
    color:  black;
  }